<%- include('partials/header') %>


<div class="jumbotron centered myjumbo">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <!-- <img src="/public/images/icon.png" alt="LOGO"> -->
    <h1 class="display-3"><b>WorkUP</b></h1>
    <p class="lead"><b>A lightweight portal for managing, collaborating and maintaining all your projects easily</b></p>
    <hr style="color: rgb(117,239,73)">
    <a class="btn btn-lg kkbtn1" href="/register" role="button">Register</a>
    <a class="btn btn-lg kkbtn2" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
